<!DOCTYPE html>
<html style="background-color: #2a2a2a;" lang="zh-CN">
    <head>
        <title>Minecraft Server Uptime Monitor</title>
        <style>
            body, html {
                font-family: Consolas, "Courier New", Courier, monospace
            }
            .blocks-container {
                display: flex;
                flex-wrap: wrap;
                gap: 2px;
                line-height: 1.2;
                font-size:75%;
            }
            .block {
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <h1 style="color: #eeeeee;">
            FTS427 ZHServer 服务器在线率监控器
        </h1>

        <h2>
            <span style="color: #90ee90;">绿色方块: 在线</span>
            <span style="color: #ffff00;">黄色方块: 高延迟</span>
            <span style="color: #ff0000;">红色方块: 离线</span>
        </h2>
        <h3>
            <span style="color : #eeeeee;">当前服务器状态: </span>
            <span style="color : {{color1}};">{{status}}</span>
        </h3>
        <h3>
            <span style="color : #eeeeee;">过去 3 天内在线率: </span>
            <span style="color : {{color2}};">{{rate}}</span>
        </h3>
        <h4>
            <span style="color : #eeeeee;">详细在线信息(采样间隔 30s, 取最近 8640 次采样数据, 时间从前往后): </span>
        </h4>
        <div class="blocks-container">
            {{{verbose}}}
        </div>
        
    </body>
</html>